link(rel='stylesheet', media="screen and (max-width:1024px)" href='/css/m.base.css')
link(rel='stylesheet', media="screen and (min-width:1024px)" href='/css/base.css')
link(rel='stylesheet', href='/css/normalize.css')
link(rel='stylesheet', href='/css/pagination.css')
link(rel='stylesheet', href='/css/animate.min.css')
link(rel="stylesheet", href="/lib/flip.min.css")
script(src="https://at.alicdn.com/t/font_1814014_zls8ukqttfg.js")
script(src="/js/menu.js", defer)
script(src="/js/gotoTop.js", defer)
script(src="/lib/flip.min.js", defer)