link(rel='stylesheet', href='/css/index.css')
link(rel='stylesheet', href='/css/normalize.css')
script(src="https://at.alicdn.com/t/font_1814014_zls8ukqttfg.js")
script(src="/js/menu.js", defer)
script(src="/lib/axios.min.js", defer)