footer(class='footer-c')
  span 2021 &copy; Mr.RS
  div(class='cdn')
    span 本网站由 
    a(href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral")
      img(class="call-me" src="/img/cdn_logo.png" width="40px" alt="") 
    span 提供CDN加速/云存储服务