div(class='menu')
  div(class='avatar-c')
    img(src="https://mrrsblog.oss-cn-shanghai.aliyuncs.com/avatar.jpg", alt="", srcset="", height=120)
  div(class='call-me-c')
    a(href="https://github.com/mrrs878")
      img(class="call-me" src="/img/github.jpg" width="20%" alt="")
    a(href="https://www.npmjs.com/~mrrs")
      img(class="call-me" src="/img/npm.jpg" width="20%" alt="")
  div(class="tick", data-value="1234", data-did-init="setupFlip")
    div(data-repeat="true" aria-hidden="true")
      span(data-view="flip")
  ul(class='menu-item-c')
    li(class='menu-item')
      a(href="/view/blog") 首页
    li(class='menu-item')
      a(href="/view/blog/about") 关于
    li(class='menu-item')
      a(href="/view/blog/tags") 标签
    li(class='menu-item')
      a(href="/view/blog/category") 分类
    li(class='menu-item')
      a(href="/view/blog/timeline") 归档
  div(class='search-c')
    svg(class="icon close-icon" aria-hidden="true")
      use(xlink:href="#roundclosefill")
    input(class='search', type="text", placeholder="输入关键字搜索试试~")
  div(class='catalog-c', id='catalogC')
