div(class='menu')
  div(class='avatar-c')
    img(src="https://mrrsblog.oss-cn-shanghai.aliyuncs.com/avatar.jpg", alt="", srcset="", height=120)
  div(class='call-me-c')
    a(href="https://github.com/mrrs878")
      img(class="call-me" src="/img/github.jpg" width="20%" alt="")
    a(href="https://www.npmjs.com/~mrrs")
      img(class="call-me" src="/img/npm.jpg" width="20%" alt="")
  ul(class='menu-item-c')
    li(class='menu-item')
      a(href="/blog/view", style="text-decoration: none") 首页
    li(class='menu-item')
      a(href="/blog/view/about", style="text-decoration: none") 关于
    li(class='menu-item')
      a(href="/blog/view/tags", style="text-decoration: none") 标签
    li(class='menu-item')
      a(href="/blog/view/category", style="text-decoration: none") 分类
    li(class='menu-item')
      a(href="/blog/view/timeline", style="text-decoration: none") 归档

