html
  head
    title= title
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/about.css')
    link(rel='stylesheet', href='/css/orange.css')
    link(rel='stylesheet', href='/css/normalize.css')
  body
    div(class='app')
      include ./menu.pug
      div(style='width: 100%', class='content',  innerHTML=content)
    script(src="/js/about.js")