html(lang= "en")
  head
    meta(charset ="UTF-8")
    meta(name ="viewport", content ="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/tags.css")
    include ./baseHeader.pug
    script(type="text/javascript").
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?84749f5eacfb94fcc118d50af0876a57";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })()
  body
    include ./gotoTop.pug
    div(class='app')
      include ./menu.pug
      div(style='width: 100%', class='context',  innerHTML=content)
        div(class='tags-c')
          each val, tag in data
            a(class=`tag ${ val > 2 ? 'big' : '' }`, href=`/blog/view/tags/${tag}`)= tag
    include ./footer.pug