.category-c {
  display: flex;
  flex-wrap: wrap;
}

.category {
  border-bottom: 1px solid #ccc;
  margin: 10px;
  color: #666;
  transition: all ease 0.5s;
  cursor: pointer;
  overflow-wrap: break-spaces;
  display: inline-block;
  word-wrap: break-word;
  text-decoration: none;
  width: '50%';
}
.category:hover {
  border-bottom-color: #000;
  color: #000;
}