.item {
  display: flex;
  flex-direction: column;
  background-color: hsla(0,3%,93.5%,.93);
  border-radius: 10px;
  height: 120px;
  width: 90%;
  margin: 0 auto 20px;
  padding: 20px;
  box-shadow: 18px 18px 30px rgba(0,0,0,.1), -18px -18px 30px #fff;
  transition: box-shadow .2s ease-out;
  cursor: pointer;
  position: relative;
}
.item:hover {
  box-shadow: 0 0 0 rgba(0,0,0,.1), 0 0 0 #fff, inset 18px 18px 30px rgba(0,0,0,.1), inset -18px -18px 30px #fff;
}
.item .item-a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.item .title {
  font-weight: 700;
  font-size: 20px;
}
.item .content {
  flex: 1 1;
}
.item .footer {
  display: flex;
  height: 30px;
  line-height: 30px;
  color: #999;
  justify-content: space-between;
  font-size: 14px;
}
.item .footer .footer-item {
  margin-right: 20px;
  margin-left: 10px;
}
.item .footer .footer-item:last-child {
  flex: 1;
}

.empty {
  text-align: center;
  background: #fff;
  margin-left: 20px;
  width: 73%;
  padding: 20px;
  padding-top: 10%;
}