.context {
  padding-left: 20px !important;
}
.item {
  cursor: pointer;
  position: relative;
  border-bottom: 1px dashed #ccc;
  transition: all ease 0.5s;
  font-size: 16px;
  margin-bottom: 20px;
}
.item.big {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
}
.item:hover {
  transition: all ease 0.2s;
  color: #1890ff;
  border-color: #1890ff;
}
